<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @instructor.phone %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @instructor.speciality %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @instructor.salary %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
