<div style="background: url(<%= asset_path 'gym2.jpg' %>); height: 30rem; background-size: 100% 100%; margin-left: 2%; margin-right: 2%">
 <div class="container" style="padding: 9% 5%; color: black;">
   <h1>Live a healthy life.</h1>
    <h2>train to be fit.</h2>
    <h2>Get in shape</h2>
    <div class="list-group" style="width: 17%;">
        <%= link_to "BOOK A CLASS", plans_path, class:"btn btn-primary" %>
    </div>
</div>
</div>
<%
=begin%>
 <div style="height: 20rem;">
</div>
<div style="background: url(<%= asset_path 'gym1.jpg' %>); height: 30rem; background-size: 100% 100%;">
 <div class="container" style="padding: 9% 5%">
   <h2 style="color: blue;">Running 10 mins a increase your life span.</h2>
    <h2>Run a mile.</h2>
    <div class="list-group" style="width: 17%;">
        <%= link_to "Check our programs", plans_path, class:"btn btn-primary" %>
    </div>
</div>
</div>
<div style="height: 20rem;">
</div><div style="background: url(<%= asset_path 'gym3.jpg' %>); height: 30rem; background-size: 100% 100%;">
 <div class="container" style="padding: 9% 5%">
   <h1>Live a healthy life.</h1>
    <h2>train to be fit.</h2>
    <h2>Get in shape</h2>
    <div class="list-group" style="width: 17%;">
        <%= link_to "BOOK A CLASS", plans_path, class:"btn btn-primary" %>
    </div>
 </div>
</div> 
<%
=end%>


